.header {
  height: 100px;
  color: #18c018;
  background-color: indianred;
}

body {
  color: red;
}

body div {
  background-color: #000;
}

body div.header {
  width: 20px;
  background-color: #fff;
  -webkit-transform: translate(-50%, 50px);
      -ms-transform: translate(-50%, 50px);
          transform: translate(-50%, 50px);
  color: red;
  background-color: indigo;
  height: 1920px;
}
