@import "_header";

body {
    color: red;
    div {
        background-color: #000;
        &.header {
            width: 20px;
            background-color:#fff;
            transform: translate(-50%, 40px);
            color: red;
            background-color: indigo;
            height: 70px;
        }
    }
    
}