@import "_header.scss";

body {
    color: red;
    div {
        background-color: #000;
        &.header {
            width: 20px;
            background-color:   #fff;
            transform: translate(-50%, 50px);
            color: red;
            background-color: indigo;
            height: 1940px;
            width: 450px;
            padding: 40px;
            display: flex;
        }
    }
    
}